.extras {
    padding: 0 5.6vw;
    position: relative;
    margin-bottom: 80px;

    &__content {

        &__items {
            display: flex;
            justify-content: space-around;
            gap: 32px;
            padding-right: 10%;
            width: 100%;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
            
            &__item {
                width: 100%;
                max-width: 350px;

                img {
                    width: 100%;
                }
            }

            .paragraph {
                text-transform: uppercase;
            }
        }
    }
}