@use 'variables';

.footer {
    padding: 48px 5.6vw;
    border-top: 2px solid #2A2D34;
    display: flex;
    justify-content: space-around;
    gap: 16px;

    @media (max-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }

    &__block {

        .subtitle {
            font-size: 16px;
            margin-bottom: 14px;
        }

        &__items {
            color: #b1b1b1;
            font-weight: 400;
            font-family: roboto, sans-serif;
            font-size: 14px;
            margin-bottom: 8px;
            text-transform: uppercase;

            &:hover {
                color: variables.$fontColor;
            }
        }

        &__social {

            display: flex;
            gap: 16px;

            a {
                width: 24px;
                height: 24px;

                i {
                    color: #b1b1b1;
                    font-size: 24px;
    
                    &:hover {
                        color: variables.$fontColor;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            display: none;
        }

        &.socials {
            
            @media (max-width: 768px) {
                display: inline;
            }
        }
    }
}