@use 'variables';

.newsletter {
    background-image: url(../images/news_letter.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 60%;
    width: 100%;
    position: relative;
    margin-bottom: -25%;

    @media (max-width: 768px) {
        background-image: none;
        background-color: variables.$buttonBackgroundColor;
        position: static;
        padding: 48px 0;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        text-align: center;
        max-width: 320px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            position: static;
            transform: none;
        }

        .paragraph {
            margin-bottom: 16px;
        }

        &__button {
            color: variables.$fontColor;
            background-color: variables.$backgroundColor;
            font-weight: 300;
            text-transform: uppercase;
            padding: 8px 16px;
            
            i{
                margin-right: 8px;
            }
        }
    }
}