.see-also {
    padding: 0 5.6vw 5.6vw;
    position: relative;

    &__content {

        .paragraph {
            font-weight: bold;
            margin-bottom: 40px;
        }

        .section-title {
            margin-bottom: 0;
        }

        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media (max-width: 1200px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 32px;
            }

            img {

                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
        }
    }
}