$backgroundColor: #050811;
$fontColor: #fff;
$buttonBackgroundColor: #016936;
$buttonBackgroundColorHover: lighten($buttonBackgroundColor, 5%);
$secondaryButtonBackgroundColor: rgba(1, 105, 54, .3);
$secondaryButtonBorder: #016936;
$secondaryButtonBackgroundColorHover: #016936;